
<div *ngFor="let training of types_trainings | async" class="col-md-6 panel panel-default">
  <div class="panel-heading panel-margin">{{training.name}}</div>
  <div class="panel-body">
    <img src="{{training.image_link}}" class="dashboard-images" /> {{training.description}}
    <div>
      <a [routerLink]="['/dashboard/types_training/edit/',training._id]" class="btn btn-warning col-md-offset-9">Edit</a>
      <a [routerLink]="['/dashboard/types_training/',training._id,'trainings']" class="btn btn-primary">Go</a>
    </div>
  </div>
</div>
