<div *ngFor="let training of trainings | async" class="col-md-12 panel panel-default">
  <div class="panel-heading panel-margin">
    <span *ngIf="!toggle" (click)="toggleExercises()" class="glyphicon glyphicon-chevron-down"></span>
    <span *ngIf="toggle" (click)="toggleExercises()" class="glyphicon glyphicon-chevron-up"></span>
    {{training.name}}
  </div>
  <div class="panel-body">
    <img src="{{training.image_link}}" class="training-images" /> {{training.description}}
    <p>{{training.toggle}}</p>
  </div>
  <div *ngIf="toggle">
    <div *ngFor="let exercise of training.exercises" class="col-md-12 panel panel-default">
      <div class="panel-heading panel-margin">{{exercise.name}}</div>
        <img src="{{exercise.image_link}}" class="training-images" />{{exercise.description}}
    </div>
  </div>

</div>
